/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Prompt", sans-serif;
  overflow-x: hidden;
}

.greetings * {
  font-family: "Roboto Mono", monospace !important;
  cursor: none !important;
}

.merritext {
  font-family: "Merriweather", serif;
}

.framework {
  font-family: "Prompt", sans-serif;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.framework::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform 0.1s ease-out;
  z-index: 50;
}

.debug-red {
  @apply border-2 border-red-500;
}

.debug-blue {
  @apply border-2 border-blue-500;
}

.debug-green {
  @apply border-2 border-green-500;
}

.debug-yellow {
  @apply border-2 border-yellow-500;
}

.debug-purple {
  @apply border-2 border-purple-500;
}

.debug-pink {
  @apply border-2 border-pink-500;
}

.debug-indigo {
  @apply border-2 border-indigo-500;
}

.framework {
  cursor: url("https://cdn.prod.website-files.com/66c503d081b2f012369fc5d2/6734f749e14a7a55057796c2_strat-0-cursor.svg"),
    auto;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* cards project*/
.cards-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* border: 1px solid rgb(106, 199, 69); */
  display: flex;
  /* background-color: #ffe047; */
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 50;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

#cards {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  z-index: 50;
}

.card {
  --spacing: 20px;
  position: absolute;
  width: 100%;
  height: 85%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
  background-color: white;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* Card colors */
.card:nth-child(1) {
  z-index: 50;
}

.card:nth-child(2) {
  margin-top: 2%;
  z-index: 49;
}

.card:nth-child(3) {
  margin-top: 4%;
  z-index: 48;
}

.card:nth-child(4) {
  margin-top: 6%;
  z-index: 47;
}

.card:nth-child(5) {
  margin-top: 8%;
  z-index: 46;
}

.card:nth-child(6) {
  margin-top: 10%;
  z-index: 45;
}

.card:nth-child(7) {
  margin-top: 12%;
  z-index: 44;
}

.card:nth-child(8) {
  margin-top: 14%;
  z-index: 43;
}

.card-body {
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.wheel-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
  clip-path: inset(0 0 50% 0);
}

.slider-section {
  height: 22vh;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.wheel {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vw;
  max-width: 800px;
  max-height: 800px;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
}

.wheel__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  z-index: 10;
  pointer-events: auto;
}

.wheel__card img {
  width: 200%;
  pointer-events: none;
  z-index: 999;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .wheel {
    display: none !important;
  }

  .card:nth-child(1) {
    margin-top: 10%;
    z-index: 50;
  }

  .card:nth-child(2) {
    margin-top: 20%;
    z-index: 49;
  }

  .card:nth-child(3) {
    margin-top: 30%;
    z-index: 48;
  }

  .card:nth-child(4) {
    margin-top: 40%;
    z-index: 47;
  }

  .card:nth-child(5) {
    margin-top: 50%;
    z-index: 46;
  }

  .card:nth-child(6) {
    margin-top: 60%;
    z-index: 45;
  }

  .card:nth-child(7) {
    margin-top: 70%;
    z-index: 44;
  }

  .card:nth-child(8) {
    margin-top: 80%;
    z-index: 43;
  }
}

.card {
  will-change: transform;
}

.projects-container {
  transform: none !important;
  perspective: none !important;
  filter: none !important;
}

.fixed-center {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 40;
}
